<h2><%= @sub.title %></h2>

<br>

<%= @sub.description %>

<br>

<!-- <%= link_to 'Edit Sub', edit_sub_url(@sub) %> -->

<br>


<%= link_to 'Add Post', new_post_url %>

<!-- <h2>Add Post</h2>

<form class="" action="<%= sub_posts_url(@sub) %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="">Title
    <input type="text" name="post[title]" value="">
  </label>
  <label for="">URL
    <input type="text" name="post[url]" value="">
  </label>
  <label for="">Content
    <input type="text" name="post[content]" value="">
  </label>
  <input type="submit" name="" value="Add Post">

</form> -->

<h2>Posts</h2>
<ul class="posts">
  <% @sub.posts.each do |post| %>
    <li><%= link_to post.title, post_url(post) %> : <%= post.content %></li>
      <% end %>
</ul>
